body {
    background-color: #fff;
    margin: 0px;
    padding: 0em;
    overflow-y: hidden;

    font-family: 'Helvetica Neue', 'Segoe UI', 'Arial', sans-serif;
}

.message-area {
    background-color: #000000;
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.input-area {
    background-color: #dadada;
    position: absolute;
    bottom: 0px;
    height: 10%;
    width: 100%;
}


.message-block{
    padding: 1em;
    font-size: 2.5em;
    margin: 0.25em;
    border-radius: 25px;
}

.user-message-block {
    background-color: #fafafa;
}

.bot-message-block {
    background-color: #aaaaff;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

.input-area input {
    font-size: 2.5em;
    height: 80%;
}
