<html>

<head>
    <title>NatBot</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='global.css') }}">
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='controller.js') }}"></script>
</head>


<body>
    <div>
        <div class="message-area">
        </div>
        <div class="input-area">
            <input id="user-message-box" type="text" class="form-control" />
        </div>
    </div>
</body>

</html>
